# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
pyinstaller.py
.credentials_cache
dist/Frostdev Property Modifier.exe
frost3.ico
Frostdev Property Modifier.spec
*.py
local_cache_items.json5
